<!DOCTYPE HTML>
<html>
<head>
    <title>Novus Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/admin/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/admin/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="~/Content/admin/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="~/Content/admin/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/admin/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="~/Content/admin/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/admin/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- chart -->
    <script src="~/Content/admin/js/Chart.js"></script>
    <!-- //chart -->
    <!--Calender-->
    <link rel="stylesheet" href="~/Content/admin/css/clndr.css" type="text/css" />
    <script src="~/Content/admin/js/underscore-min.js" type="text/javascript"></script>
    <script src="~/Content/admin/js/moment-2.2.1.js" type="text/javascript"></script>
    <script src="~/Content/admin/js/clndr.js" type="text/javascript"></script>
    <script src="~/Content/admin/js/site.js" type="text/javascript"></script>
    <!--End Calender-->
    <!-- Metis Menu -->
    <script src="~/Content/admin/js/metisMenu.min.js"></script>
    <script src="~/Content/admin/js/custom.js"></script>
    <link href="~/Content/admin/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
                @Html.Partial("NavigationMenu")
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <!--logo -->
                <div class="logo">
                    <a href="@Url.Action("Index","Statistics")">
                        <h1>New Store</h1>
                        <span>AdminPanel</span>
                    </a>
                </div>
                <!--//logo-->
           
                <div class="clearfix"> </div>
            </div>
            @Html.Partial("HeaderRightAdmin")
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            @RenderBody()

        </div>
        <!--footer-->
        <div class="footer" >
            <p id="footer">&copy; @DateTime.Now.Year Admin Panel. All Rights Reserved | Design by Thi Lý Linh</p>
        </div>
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="~/Content/admin/js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--scrolling js-->
    <script src="~/Content/admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/admin/js/scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/admin/js/bootstrap.js"></script>
</body>
</html>