@using BussinessManagement.Models;
<div class="header-top">
    <div class="container">
        <div class="search">
            @using (Html.BeginForm("GetStringSearch","Search"))
            {
                @*<input type="text" placeholder="search product" />*@
                @Html.TextBox("searchString")
                <input type="submit" value="Search" />
            }
          
        </div>
        <div class="header-left">
            <ul>
                @if (Session["Customer"] != null)
                {
                    Customer customer = (Customer)Session["Customer"];
                    <li style="color: white;border: 1px solid white;padding: 2px;">Hi @customer.Name</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                    <li><a href="@Url.Action("Register", "Home")">Register</a></li>
                }
            </ul>
            @Html.Action("CartPartial", "Cart")
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

