@using BussinessManagement.Models;
@model IEnumerable<Product>

<div class=" h_menu4">
    <ul class="memenu skyblue">
        <li class="active grid"><a class="color8" href="@Url.Action("Index","Home")">Home</a></li>

        @foreach (var groupItem in Model.GroupBy(n => n.ProductType))
        {
            if (groupItem.Key != null)
            {
                <li>
                    <a class="color1" href="@Url.Action("ViewAllProduct","Product",new { @typeProductID=groupItem.Key.ID})">@groupItem.Key.NameTypeProdcut</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        @foreach (var item in groupItem.GroupBy(n => n.Producer))
                                        {
                                            if (item.Key != null)
                                            {
                                                <li><a href="@Url.Action("ViewDetailProduct","Product", new {@productTypeID = groupItem.Key.ID , @producerID= item.Key.ID })">@item.Key.Name</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }

        <li class="grid">
            <a class="color2" href="#">	Trademark</a>
            <div class="mepanel">
                <div class="row">
                    @foreach (var groupItem in Model.GroupBy(n => n.ProductType))
                    {
                        if (groupItem.Key != null)
                        {
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>@groupItem.Key.NameTypeProdcut</h4>
                                    <ul>
                                        @foreach (var item in groupItem.GroupBy(n => n.Producer))
                                        {
                                            if (item.Key != null)
                                            {
                                                <li><a href="@Url.Action("ViewDetailProduct","Product", new {@productTypeID = groupItem.Key.ID , @producerID= item.Key.ID })">@item.Key.Name</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </li>
        <li><a class="color4" href="blog.html">Blog</a></li>
        <li><a class="color6" href="contact.html">Contact</a></li>
    </ul>
</div>