@using BussinessManagement.Models;
@model IEnumerable<Product>
@foreach (var item in Model.Take(3))
{
    <div class="col-md-4 grid-top">
        <a href="@Url.Action("ViewDetail","Product",new {id = item.ID})" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="@Url.Content("~/Content/ProductImage/"+item.Image)" alt="this is place image">
            <div class="b-wrapper">
                <h5 class="b-animate b-from-left    b-delay03" style="text-align:center;font-size:12pt; padding:7px;">
                    @item.Config
                </h5>
            </div>
        </a>

        <p><a href="@Url.Action("ViewDetail","Product",new {id = item.ID})">@item.Name</a></p>
    </div>
}
