@using BussinessManagement.Models;
@model Product
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    IEnumerable<Comment> comments = (IEnumerable<Comment>)ViewBag.Comment;
}

<div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <div class="flexslider">
            <ul class="slides">
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.Image)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.Image1)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.Image2)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.image3)" />
                </li>
            </ul>
        </div>
        <!-- FlexSlider -->
        <script defer src="~/Content/js/jquery.flexslider.js"></script>
        <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

        <script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>
        <div>
            <h3>Description</h3>
            <p>@Html.Raw(Model.Description)</p>
            <hr />
        </div>
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <h4>@Model.Name</h4>
            <div class="clearfix"> </div>
        </div>

        <h5 class="item_price">@Model.Price VND</h5>
        <p>
            @Model.Config
        </p>
        <a href="@Url.Action("AddCart","Cart",new {@id=Model.ID,@url=Request.Url })" class="add-cart item_add">ADD TO CART</a>
    </div>
</div>
<div class="clearfix"> </div>

<!--comment-->
<!--To Work with icons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Demo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <hr />
                <h2 class="bold padding-bottom-7">@ViewBag.RateTotal <small>/ 5</small></h2>
                @for (int i = 0; i < ViewBag.RateTotal; i++)
                {
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                }
            </div>
        </div>
        <div class="col-sm-3">
            <h4>Rating breakdown</h4>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">5 <span class="left"><i class="text-warning fa fa-star"></i></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @ViewBag.RatioR5%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@ViewBag.R5</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">4 <span class="left"><i class="text-warning fa fa-star"></i></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width:@ViewBag.RatioR4%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@ViewBag.R4</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">3 <span class="left"><i class="text-warning fa fa-star"></i></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width:@ViewBag.RatioR3%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@ViewBag.R3</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">2 <span class="left"><i class="text-warning fa fa-star"></i></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width:@ViewBag.RatioR2%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@ViewBag.R2</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">1 <span class="left"><i class="text-warning fa fa-star"></i></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: @ViewBag.R1%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@ViewBag.R1</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <hr />
            <div class="review-block">
                @foreach (var item in comments)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                            
                            <div class="review-block-date">@item.DateComment.Value.ToString("dd/MM/yyyy")<br /></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-name"><span>@item.Member.Name</span></div>
                            <div class="review-block-rate">
                                @for (int j = 0; j < item.Rate; j++)
                                {
                                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                }
                            </div>
                            <div class="review-block-title">@item.Content</div>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>