@using BussinessManagement.Models;
@model Product
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    IEnumerable<Comment> comments = (IEnumerable<Comment>)ViewBag.Comment;
}

<div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <div class="flexslider">
            <ul class="slides">
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.Image)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.Image1)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.Image2)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/ProductImage/"+Model.Image)">
                    <img src="@Url.Content("~/Content/ProductImage/"+Model.image3)" />
                </li>
            </ul>
        </div>
        <!-- FlexSlider -->
        <script defer src="~/Content/js/jquery.flexslider.js"></script>
        <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

        <script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>
        <div>
            <h3>Description</h3>
            <p>@Html.Raw(Model.Description)</p>
            <hr />
        </div>
        <!--coommmm -->
        @Html.Action("CommentForm", "Product");
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <h4>@Model.Name</h4>
            <div class="clearfix"> </div>
        </div>

        <h5 class="item_price">@Model.Price VND</h5>
        <p>
            @Model.Config
        </p>
        <a href="@Url.Action("AddCart","Cart",new {@id=Model.ID,@url=Request.Url })" class="add-cart item_add">ADD TO CART</a>
    </div>
</div>
<div class="clearfix"> </div>

<!--comment-->
<!--To Work with icons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Fixed navbar -->